VITE_VIDEO_PROVIDER_HOST=http://10.88.88.2
VITE_VIDEO_PROVIDER_PROXY_PATH=/hls-proxy
VITE_VIDEO_POSTER_PATH=/thumbnails
VITE_DEFAULT_VIDEO_ID=3fb87d2e-b294-4c4e-a937-9be65496e1f7
VITE_HARDCODED_STREAM_URL=
